.expense-item{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b; 
}
.expense-item__description{
display: flex;
flex-direction: row;
} 
.expense-item__description h2{
    margin-left: 10em;
} 
.expense-item__price{
   margin-left: 20em;
    font-size: 5vmin;
    font-weight: bold;
    color: aliceblue;
    padding-top: 0.5em;
    background: rgb(0, 0, 63);
    border: 2px solid white;
    border-radius: 15px;
    padding: 12px;
} 